spring:
  config:
    # `application-dev.yml`이 활성화되려면 `dev` 프로필이어야 합니다.
    activate:
      on-profile: dev
    import:
      - classpath:/properties/core/infra-data.yaml
      - classpath:/properties/core/security-cors.yaml
      - classpath:/properties/core/security-xsrf.yaml
      - classpath:/properties/core/security-oauth2.yaml
      - classpath:/properties/core/security-redirect.yaml
      - classpath:/properties/core/security-session.yaml
  # ---- Jackson 구성
  jackson:
    time-zone: Asia/Seoul
  # ---- JDBC 데이터베이스 접속 구성
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${core.datasource.url}
    username: ${core.datasource.username}
    password: ${core.datasource.password}
  ## ---
  jpa:
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        hbm2ddl.auto: create
    open-in-view: false
    show-sql: true
  ## ---
  data:
    web:
      pageable:
        one-indexed-parameters: true
    # ---- Spring Data Redis 구성
    redis:
      host: ${core.redis.host}
      port: ${core.redis.port}
      repositories:
        enabled: false
  web:
    error:
      whitelabel:
        # 기본 오류 페이지를 비활성화합니다.
        enabled: false
  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: "${core.oauth2.client.registration.google.redirect-base-uri}/api/auth/callback/{registrationId}"
            client-id: ${core.oauth2.client.registration.google.client-id}
            client-secret: ${core.oauth2.client.registration.google.client-secret}
            scope: openid, profile, email

logging:
  config: classpath:log4j2-spring.xml
