server:
  # ---- Undertow 구성
  undertow:
    # 요청 또는 응답 버퍼의 크기를 설정합니다.
    buffer-size: 16384
    # Direct ByteBuffer를 사용하여 메모리 할당을 최적화합니다.
    direct-buffers: true
    # 서버 시작 시 필터를 미리 초기화합니다.
    eager-filter-init: true
  error:
    whitelabel:
      # 기본 오류 페이지를 비활성화합니다.
      enabled: false

spring:
  config:
    # `application-dev.yml`이 활성화되려면 `dev` 프로필이어야 합니다.
    activate:
      on-profile: dev
    import:
      - classpath:/properties/core/datasource.yaml
      - classpath:/properties/core/oauth2.yaml
      - classpath:/properties/core/session.yaml
  # ---- Jackson 구성
  jackson:
    time-zone: Asia/Seoul
  # ---- JDBC 데이터베이스 접속 구성
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${core.datasource.url}
    username: ${core.datasource.username}
    password: ${core.datasource.password}
  ## ---
  jpa:
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        hbm2ddl.auto: create-drop
    open-in-view: false
    show-sql: true
  ## ---
  #  flyway:
  #    enabled: true
  #    locations: classpath:db/migration
  data:
    web:
      pageable:
        one-indexed-parameters: true
    # ---- Spring Data Redis 구성
    redis:
      host: ${core.redis.host}
      port: ${core.redis.port}
      repositories:
        enabled: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${core.oauth2.client.registration.google.client-id}
            client-secret: ${core.oauth2.client.registration.google.client-secret}
            scope: openid, profile, email

logging:
  config: classpath:log4j2-spring.xml
